@font-face {
    font-family: 'typewriter';
    src: url('fonts/veteran_typewriter-webfont.woff2') format('woff2'),
         url('fonts/veteran_typewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* By name */
body {
    background: #fecea8
}

/* By class */
.titles {
    text-align: center;
    font: 3em "typewriter", monospace;
    background: #e84a5f;
}

.forms {
      text-align: center;
      position: center;
      width: 740px;
      height: 220px;
      margin: 0 auto;
      padding: 1em;
      box-sizing: border-box;
      background: #ff847c;
      font: 1em "typewriter", monospace;
}

/* By id */
#submit {
      color: #45171d;
      padding      : 10px;
      font         : bold 1em sans-serif;
      border       : 2px solid #333;
      border-radius: 5px;
      background   : none;
      cursor       : pointer;
      transform    : rotate(-1.5deg);

}
